<ion-content [fullscreen]="true">
  <!-- Login Page -->
  <div class="container" >
    <h1 class="heading">👋 Welcome<br><br></h1>
    <p class="para">Sign in to continue!</p>
    <form>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email Id</legend> 
          <ion-input type="email" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a>Forgot Password?</a></p>
      <p class="signup-text">I'm a new user&nbsp;<a >Sign Up?</a></p>
      <ion-button class="login-button" expand="block">Login</ion-button>
      <ion-button class="google-button" expand="block" color="light"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Google Signin</ion-button>
    </form>
  </div>

</ion-content>
<ion-footer color="white">
  <ion-toolbar>
    <p class="copyright">Created by&nbsp;<a>Raden Rifal</a></p>
  </ion-toolbar>
</ion-footer>
